<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <meta charset="utf-8">
        <title>Check-In Perpustakaan</title>
    </head>
    <body style="overflow-x:hidden;">
        <nav class="navbar" style="background-color:#0B2447;">
            <form class="form-inline">
                <a style="color:#d4385f;" class="btn btn-floating m-1" href="/" role="button">Home</a>
                <a style="color:#A5D7E8;" class="btn btn-floating m-1" href="/admin" role="button">Administrator</a>
            </form>
            <a class="navbar-brand" style="color:#A5D7E8">
                <b>PerpusCuy</b>
                <img src="https://freesvg.org/img/reading.png" width="30" height="30" class="d-inline-block align-top">
            </a>
        </nav>

        <div class="row align-self-center justify-content-center" style="height:600px; background:#0B2447">
            <div class="col-md-5 align-self-center" align="center">
                <img src="https://gnupluslinux.com/anime/anime_girls_holding_books/1488100207912.png" style="max-height:350px; max-width:80%;" class="img-fluid">
                <p style="font-size:2.5rem; width:70%; color:#576CBC;"><b>Welcome to PerpusCuy</b></p>
                <p style="color:#A5D7E8">Just an Ordinary Library.</p>
            </div>
    
            <div class="col-5 align-self-center" align="center">
                <!-- form checkin -->
                <form action="/checkin" method="POST" class="p-3" style="color:#A5D7E8; background-color: #19376D; max-width:450px; max-height:400px; border-radius: 5%;">
                    <div class="p-3">
                        <h4><b>Check In Pengunjung</b></h4>
                        <p style="color:#576CBC"><i>Isi data anda pada form berikut sebelum masuk perpustakaan :)</i></p>
                        <table>
                            <tr>
                                <td>Nama Pengunjung</td>
                                <td>:</td>
                                <td><input type="text" class="form-control" style="background-color:#576CBC; color:#A5D7E8" required name="nama_pengunjung"></td>
                            </tr>
                            <tr>
                                <td>Alamat</td>
                                <td>:</td>
                                <td><input type="text" class="form-control" style="background-color:#576CBC; color:#A5D7E8" required name="alamat_pengunjung"></td>
                            </tr>
                            <tr>
                                <td>Tanggal</td>
                                <td>:</td>
                                <td><input type="date" class="form-control" style="background-color:#576CBC; color:#A5D7E8" required name="tanggal"></td>
                            </tr>
                            <tr>
                                <td>ID Member</td>
                                <td>:</td>
                                <td>
                                    <input type="hidden" name="id_member" value="0">
                                    <input type="number" style="background-color:#576CBC; color:#A5D7E8" class="form-control" name="id_member">
                                </td>
                            </tr>
                        </table>
                    </div>
                    <button class="btn btn-success">
                        Submit
                    </button>
                </form>
            </div>
        </div>

        <div style="background-color:#19376D; color:#A5D7E8;" class="p-3 mx-auto" align="center">
            <h4 class="p-3">Daftar Pengunjung Perpustakaan</h4>
            <div class="col-8 p-3 mx-auto overflow-scroll" style="height: 500px; background-color:#0B2447;" align="center">
                <table class="table table-bordered" style="color:#A5D7E8; border-color: #A5D7E8;">
                    <tr style="background-color: #576CBC;">
                        <th>No.</th>
                        <th>Nama Pengunjung</th>
                        <th>Alamat Pengunjung</th>
                        <th>Tanggal</th>
                        <th>Status</th>
                    </tr>
                    <!-- perulangan untuk menampilkan tabel pengunjung dalam satu baris (item per kolom)-->
                    {% for item in pengunjungx %}
                    <tr>
                        <td>{{item.0}}</td>
                        <td>{{item.1}}</td>
                        <td>{{item.2}}</td>
                        <td>{{item.3}}</td>
                        <td>{{item.4}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        
        <footer class="text-center" style="background-color:#0B2447; color:#A5D7E8">
            <div class="container">
                <section class="p-3">
                    <img src="https://freesvg.org/img/reading.png" width="30" height="30" class="d-inline-block align-top">
                    <p>Perpuscuy, Aplikasi Manajemen data Perpustakaan.</p>
                </section>
            </div>
            <div class="text-center p-3" style="background-color: #00000033;">
                © 2023:
            <a style="color:#d4385f">PerpusCuy</a>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </body>
</html>
