<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <meta charset="utf-8">
        <title>Data Peminjaman</title>
    </head>
    <body style="background-color:#0B2447">
        <nav class="navbar" style="background-color:#0B2447;">
            <form class="form-inline">
                <a style="color:#A5D7E8;" class="btn btn-floating m-1" href="/" role="button">Home</a>
                <a style="color:#A5D7E8;" class="btn btn-floating m-1" href="/admin" role="button">Administrator</a>
                <a style="color:#d4385f;" class="btn btn-floating m-1" href="/pegawai" role="button">Pegawai</a>
            </form>
            <a class="navbar-brand" style="color:#A5D7E8">
                <b>PerpusCuy</b>
                <img src="https://freesvg.org/img/reading.png" width="30" height="30" class="d-inline-block align-top">
            </a>
        </nav>

        <div class="col-8 mx-auto" align="center" style="background-color:#19376D; color:#A5D7E8">
            <div class="p-3" align="center">
                <h1></h1>
                <h5><i>Data Peminjaman</i></h5>
            </div>
    
            <div class="p-3" align="center" style="background-color:#576CBC; color:#A5D7E8; max-width:450px; max-height:400px; border-radius: 5%;">
                <div class="p-3">
                    <table class="p-3 table table-hover">
                        {% for item in memberhtml %}
                        <tr>
                            <td>ID Member</td>
                            <td>:</td>
                            <td>{{item.0}}</td>
                        </tr>
                        <tr>
                            <td>Nama Member</td>
                            <td>:</td>
                            <td>{{item.1}}</td>
                        </tr>
                        {% endfor %}
                        {% for item in bukuhtml %}
                        <tr>
                            <td>ID Buku</td>
                            <td>:</td>
                            <td>{{item.0}}</td>
                        </tr>
                        <tr>
                            <td>Judul Buku</td>
                            <td>:</td>
                            <td>{{item.1}}</td>
                        </tr>
                        <tr>
                            <td>Kategori</td>
                            <td>:</td>
                            <td>{{item.2}}</td>
                        </tr>
                        {% endfor %}
                        {% for item in pinjamhtml %}
                        <tr>
                            <td>Tanggal Pinjam</td>
                            <td>:</td>
                            <td>{{item.0}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

        <footer class="text-center p-3" style="background-color:#0B2447; color:#A5D7E8">
            <div class="container">
                <section class="p-3">
                    <img src="https://freesvg.org/img/reading.png" width="30" height="30" class="d-inline-block align-top">
                    <p>Perpuscuy, Aplikasi Manajemen data Perpustakaan.</p>
                </section>
            </div>
            <div class="text-center p-3" style="background-color: #00000033;">
                © 2023:
            <a style="color:#d4385f">PerpusCuy</a>
            </div>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </body>
</html>
